<h1><%= t("activerecord.models.invoice") %></h1>

<%= link_to "Nova Fatura", new_invoice_path, class: "btn btn-primary" %>

<hr/>

<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Vencimento</th>
        <th scope="col">Valor</th>
        <th scope="col">Cliente</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= link_to "detalhar", invoice, class: "btn btn-secondary btn-sm" %></td>
          <td>
            <%= I18n.l invoice.due_at, format: :small %>
          </td>
          <td><%= invoice.amount.format %></td>
          <td><%= link_to invoice.customer.name, invoice.customer %></td>
          <td><%= invoice.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @invoices %>
