<h1><%= customer.name %></h1>

<hr/>

<div id="<%= dom_id customer %>">
  <p>
    <strong><%= t("activerecord.attributes.customer.payment_type") %>:</strong>
    <%= customer.payment_type %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.recurring_payment_day") %>:</strong>
    <%= customer.recurring_payment_day %>
  </p>
</div>

<hr/>

<%= render "invoices/invoices" %>
