<h1><%= customer.name %></h1>

<hr/>

<div id="<%= dom_id customer %>">
  <p>
    <strong><%= t("activerecord.attributes.customer.payment_type") %>:</strong>
    <%= customer.payment_type %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.recurring_payment_day") %>:</strong>
    <%= customer.recurring_payment_day %>
  </p>
</div>

<hr/>

<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Vencimento</th>
        <th scope="col">Valor</th>
        <th scope="col">Cliente</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% customer.invoices.each do |invoice| %>
        <tr>
          <td><%= link_to "detalhar", invoice, class: "btn btn-secondary btn-sm" %></td>
          <td>
            <%= I18n.l invoice.due_at, format: :small %>
          </td>
          <td><%= invoice.amount.format %></td>
          <td><%= link_to invoice.customer.name, invoice.customer %></td>
          <td><%= invoice.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="alert alert-info" role="alert">
    Total:
    <%= Money.from_cents(customer.invoices.sum(:amount_cents)).format %>
  </div>
</div>
